<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WriteContext" connectionString="Data Source=.\sql08;Initial Catalog=QFappStore;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="ReadContext" connectionString="Data Source=.\sql08;Initial Catalog=QFappStore;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>